.parentDiv {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    animation: fadeIn 2s ease-in-out;
}

.courseTitle {
    color: white;
    text-align: center;
    animation: slideIn 1.5s ease-in-out;
}
.courseImage:hover {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.courseLink {
    font-size: 30px;
    animation: grow 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}